body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}
nav {
    background: #444;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 40px 0;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}
footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}
